In [1]:
import pandas as pd
import  numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
%matplotlib inline

### Split by day

In [353]:
df_foursquare_day = pd.read_csv('data/real_application/foursquare_NY/NYByDay_d.csv', sep=";")
df_foursquare_day.head()

,checkin_id,venue_id,new_tid,tid,lat_lon,split_day,time,rating,price,day,weather,poi,type,root_type,label
0,338007,4abc1f51f964a520798620e3,0,1,40.7815580000000 -73.9757920000000,Wednesday,1171,-1.0,3,Wednesday,Clear,Ocean Grill,Seafood Restaurant,Food,1
1,339213,4d4ac10da0ef54814b6ffff6,1,1,40.7840184369222 -73.9745239913464,Saturday,822,-1.0,3,Saturday,Clear,Ditch Plains,New American Restaurant,Food,1
2,341155,4db44994cda1c57c82583709,2,1,40.7393979409296 -73.9932097342661,Sunday,860,-1.0,-1,Sunday,Clear,Happy Easterpocalypse 2012,General Entertainment,Arts & Entertainment,1
3,341334,4a541923f964a52008b31fe3,2,1,40.7856770000000 -73.9764980000000,Sunday,962,7.1,2,Sunday,Clear,Hi-Life,American Restaurant,Food,1
4,342247,40f1d480f964a5205b0a1fe3,3,1,40.7199290238534 -74.0085318264274,Monday,740,9.1,2,Monday,Clear,Bubby's,American Restaurant,Food,1

In [354]:
print('Number of trajectories: ',df_foursquare_day['new_tid'].nunique())
print('Number of unique POIs: ',df_foursquare_day['poi'].nunique())
print('Number of unique POIs type: ',df_foursquare_day['type'].nunique())
print('Number of unique POIs root_type: ',df_foursquare_day['root_type'].nunique())
basic_stats(df_foursquare_day)
df_main_info(df_foursquare_day)

Number of trajectories:  91788
Number of unique POIs:  30091
Number of unique POIs type:  570
Number of unique POIs root_type:  10

Basics:
Number of users:  1083
Number of trajectories:  91788
AVG number of trajectories per user is 84.95 with STD of 33.66
AVG trajectory length per user is 2.25 with STD of 1.39

More stats:
Number of users:  1083
Number of trajectories:  91788

Check-ins:
Min number of check-ins in an user:  96
Max number of check-ins in an user:  2681
Number of average check-ins per user 209.233 with std of 187.271.
Number of unique POIs in the dataset:  570

Trajectories:
Min number of trajectories in an user:  2
Max number of trajectories in an user:  235
Number of average trajectories per user 84.950 with std of 33.661.

### Split by week

In [355]:
df_foursquare_yw = pd.read_csv('data/real_application/foursquare_NY/NYByYearWeek_yw.csv', sep=";")
df_foursquare_yw.head()

,checkin_id,venue_id,new_tid,tid,lat_lon,split_year_week,time,rating,price,day,weather,poi,type,root_type,label
0,338007,4abc1f51f964a520798620e3,0,1,40.7815580000000 -73.9757920000000,2012 14,1171,-1.0,3,Wednesday,Clear,Ocean Grill,Seafood Restaurant,Food,1
1,339213,4d4ac10da0ef54814b6ffff6,0,1,40.7840184369222 -73.9745239913464,2012 14,822,-1.0,3,Saturday,Clear,Ditch Plains,New American Restaurant,Food,1
2,341155,4db44994cda1c57c82583709,0,1,40.7393979409296 -73.9932097342661,2012 14,860,-1.0,-1,Sunday,Clear,Happy Easterpocalypse 2012,General Entertainment,Arts & Entertainment,1
3,341334,4a541923f964a52008b31fe3,0,1,40.7856770000000 -73.9764980000000,2012 14,962,7.1,2,Sunday,Clear,Hi-Life,American Restaurant,Food,1
4,342247,40f1d480f964a5205b0a1fe3,1,1,40.7199290238534 -74.0085318264274,2012 15,740,9.1,2,Monday,Clear,Bubby's,American Restaurant,Food,1

In [349]:
print('Number of trajectories: ',df_foursquare_yw['new_tid'].nunique())
print('Number of unique POIs: ',df_foursquare_yw['poi'].nunique())
print('Number of unique POIs type: ',df_foursquare_yw['type'].nunique())
print('Number of unique POIs root_type: ',df_foursquare_yw['root_type'].nunique())
basic_stats(df_foursquare_yw)
df_main_info(df_foursquare_yw)

Number of trajectories:  30509
Number of unique POIs:  30091
Number of unique POIs type:  570
Number of unique POIs root_type:  10

Basics:
Number of users:  1083
Number of trajectories:  30509
AVG number of trajectories per user is 28.17 with STD of 9.34
AVG trajectory length per user is 5.34 with STD of 3.41

More stats:
Number of users:  1083
Number of trajectories:  30509

Check-ins:
Min number of check-ins in an user:  96
Max number of check-ins in an user:  2681
Number of average check-ins per user 209.237 with std of 187.273.
Number of unique POIs in the dataset:  570

Trajectories:
Min number of trajectories in an user:  1
Max number of trajectories in an user:  44
Number of average trajectories per user 28.173 with std of 9.342.

### create sequence format file

In [ ]:
file = "data/real_application/foursquare_NY/fs_ny_week_sequences.dat"
create_sequence_file_data(df_foursquare_yw,file)

## FS top 10 users

In [17]:
df_fs_top = pd.read_csv('data/real_application/foursquare_NY/fs_ny_top_users_10.csv', sep=";")
df_fs_top.head()

,new_tid,tid,lat_lon,time,day,poi,type,root_type,rating,weather,label
0,0,5184,40.9654169422336 -74.0628837642180,1056,Tuesday,my bed,Strip Club,Nightlife Spot,-1.0,Clear,185
1,0,5184,40.9653287788182 -74.0629239214116,1099,Tuesday,nanas :),American Restaurant,Food,-1.0,Clear,185
2,0,5184,40.9653550190346 -74.0628321335281,1191,Tuesday,The Bush Hot Tub :),Pool,Outdoors & Recreation,-1.0,Clear,185
3,0,5184,40.9653379500000 -74.0628079000000,1261,Tuesday,The Hang Out,Other Nightlife,Nightlife Spot,-1.0,Clouds,185
4,0,5184,40.9653558300157 -74.0628550805032,1320,Tuesday,The Bush Hideout,Speakeasy,Nightlife Spot,-1.0,Clouds,185

In [11]:
print(df_fs_top.groupby(['label']).nunique())

       new_tid  tid  lat_lon  time  day  poi  type  root_type  rating  \
label
185         42   42      171   959    7  139    76          8      31
293         41   41      166   686    7  128    55          8      34
315         40   40      166   797    7  115    72          8      27
349         31   31      702   600    7  588   187         10      52
354         36   36      449   799    7  384   102          9      51
372         31   31      359   401    7  327   128         10      50
689         35   35       11    22    7    9     8          5       8
730         30   30       32    39    7   19    15          8      15
885         32   32       74   363    7   50    36          9      22
943         34   34      191   463    7  176   102          8      49

       weather  label
label
185          6      1
293          6      1
315          5      1
349          5      1
354          5      1
372          5      1
689          5      1
730          6      1
885          6      1
943          6      1

In [18]:
df_summary = create_df_map_traj_user(df_fs_top)

In [83]:
df_summary

     Tid  Traj_length  User
0      0           40   185
1      1           81   185
2      2           76   185
3      3           77   185
4      4           52   185
..   ...          ...   ...
347  347           11   943
348  348           10   943
349  349           10   943
350  350           11   943
351  351           22   943

[352 rows x 3 columns]

In [87]:
print(df_fs_top[(df_fs_top['new_tid'].isin(g10)) & (df_fs_top['label'] == 349)][['time','day','poi','type','label']].to_string())

      time        day                                                poi                                      type  label
5442  1186  Wednesday                                     Yankee Clipper  Residential Building (Apartment / Condo)    349
5443  1187  Wednesday                                      The Mothaship                                   Parking    349
5444  1187  Wednesday                           La Tropical Deli Grocery                             Deli / Bodega    349
5445   807   Thursday                                     Snowman's Lair                            Home (private)    349
5446   808   Thursday                                         Chase Bank                                      Bank    349
5447   808   Thursday                                    Brother's Pizza                               Pizza Place    349
5448   880   Thursday                                  Fairview Cemetery                                  Cemetery    349
5449   880   Thursday                              Micros Retail Systems                                  Building    349
5450   881   Thursday                                             Micros                                    Office    349
5451   881   Thursday                                            Sparkys                                       Bar    349
5452   919   Thursday                                     Morgan Stanley                                    Office    349
5453   920   Thursday                                         Caffe Bene                                      Cafe    349
5454   920   Thursday                              Lillie's Times Square                                       Bar    349
5455   920   Thursday                          W New York - Times Square                                     Hotel    349
5456   989   Thursday                               Brooklyn Bridge Park                                      Park    349
5457   990   Thursday                                    Ignazio's Pizza                               Pizza Place    349
5458  1046   Thursday                                   Manhattan Bridge                                    Bridge    349
5459  1062   Thursday                                        Dos Caminos                        Mexican Restaurant    349
5460  1063   Thursday                                 The Hurricane Club                              Cocktail Bar    349
5461  1144   Thursday                               John Dory Oyster Bar                        Seafood Restaurant    349
5462  1145   Thursday                                        The Breslin                                 Gastropub    349
5463  1146   Thursday                              Instrata Fitness Club                                       Gym    349
5464  1175   Thursday                                   The Bowery Diner                                     Diner    349
5465  1175   Thursday                                         New Museum                                Art Museum    349
5466  1175   Thursday                                       CafÃ© Habana                          Cuban Restaurant    349
5467  1228   Thursday                                      The Red Flame                                     Diner    349
5468  1229   Thursday                                         Hippodrome                                    Office    349
5469   793     Friday                          Popeyes Louisiana Kitchen                       Fried Chicken Joint    349
5470   794     Friday                                           Best Buy                         Electronics Store    349
5471  1101     Friday                                       Micro Center                         Electronics Store    349
5472  1101     Friday                       Cross County Shopping Center                             Shopping Mall    349
5473  1289     Friday                        Sammy's Fish Box Restaurant                        Seafood Restaurant    349
5474   743   Saturday                                     Yankee Clipper  Residential Building (Apartment / Condo)    349
5475   744   Saturday                                            M.S. 22                                    School    349
5476   800   Saturday                                             Micros                                    Office    349
5477   800   Saturday                              Micros Retail Systems                                  Building    349
5478   801   Saturday                                            Sparkys                                       Bar    349
5479   815   Saturday                                Convenience Express                               Gas Station    349
5480   815   Saturday                                     Dunkin' Donuts                                Donut Shop    349
5481   876   Saturday                                        The Carlyle                                     Hotel    349
5482   877   Saturday                                     The Mark Hotel                                     Hotel    349
5483   877   Saturday                                         The Surrey                                     Hotel    349
5484   936   Saturday                                   Colicchio & Sons                   New American Restaurant    349
5485   937   Saturday                                     Abe & Arthur's                       American Restaurant    349
5486   982   Saturday                                     Simyone Lounge                                    Lounge    349
5487   983   Saturday                                The Vinatta Project                              Cocktail Bar    349
5488   993   Saturday                                          HUGO BOSS                            Clothing Store    349
5489  1139   Saturday                                  The Meatball Shop                        Italian Restaurant    349
5490  1139   Saturday                                  Subway Sandwiches                            Sandwich Place    349
5491  1139   Saturday                                            Morandi                        Italian Restaurant    349
5492  1140   Saturday                     TaÃ¯m Falafel and Smoothie Bar                        Falafel Restaurant    349
5493  1207   Saturday                                     YOTEL New York                                     Hotel    349
5494  1207   Saturday                                      Four at Yotel                                 Nightclub    349
5495  1208   Saturday                                             44 & X                       American Restaurant    349
5496  1278   Saturday                                lululemon athletica                       Sporting Goods Shop    349
5497  1278   Saturday                                      P.J. Clarke's                              Burger Joint    349
5498  1279   Saturday                              Lincoln Plaza Cinemas                             Movie Theater    349
5499  1279   Saturday                                 Ed's Chowder House                        Seafood Restaurant    349
5500  1280   Saturday          David Rubenstein Atrium at Lincoln Center                     Performing Arts Venue    349
5501  1393   Saturday                        MTA Subway - 167th St (B/D)                             Metro Station    349
5502   572     Sunday                                             Micros                                    Office    349
5503   572     Sunday                              Micros Retail Systems                                  Building    349
5504   573     Sunday                                  Fairview Cemetery                                  Cemetery    349
5505   716     Sunday                                     The Mark Hotel                                     Hotel    349
5506   716     Sunday                                       CafÃ© Boulud                         French Restaurant    349
5507   717     Sunday                     Whitney Museum of American Art                                Art Museum    349
5508   756     Sunday                                       Bliss 49 Spa                                       Spa    349
5509   814     Sunday                                          ZÃ© CafÃ©                         French Restaurant    349
5510   814     Sunday                                 Madison Restaurant                                     Diner    349
5511   882     Sunday                                   Patsy's Pizzeria                               Pizza Place    349
5512   883     Sunday                                 Lenwich by Lenny's                            Sandwich Place    349
5513   883     Sunday                                    Alice's Tea Cup                                  Tea Room    349
5514   883     Sunday                                    Columbus Tavern                       American Restaurant    349
5515   926     Sunday                              Apple Upper West Side                         Electronics Store    349
5516   926     Sunday                                          Starbucks                               Coffee Shop    349
5517   927     Sunday                              Richard Tucker Square                                     Plaza    349
5518   942     Sunday                                         Bar Boulud                         French Restaurant    349
5519   970     Sunday                                Serafina Upper West                        Italian Restaurant    349
5520   971     Sunday                                       Beard Papa's                              Dessert Shop    349
5521   971     Sunday                                    Westside Market                               Supermarket    349
5522  1030     Sunday                                  Le Pain Quotidien                                    Bakery    349
5523  1031     Sunday                          Alice's Teacup Chapter II                                  Tea Room    349
5524  1031     Sunday                                               JoJo                         French Restaurant    349
5525  1031     Sunday                                          Donahue's                                       Bar    349
5526  1092     Sunday                                            Kiehl's                            Cosmetics Shop    349
5527  1093     Sunday                              Barbaresco Restaurant                        Italian Restaurant    349
5528  1093     Sunday                                      Hale & Hearty                                Soup Place    349
5907  1084    Tuesday                                       Sprint Store                         Mobile Phone Shop    349
5908   640  Wednesday                             Vezzo Thin Crust Pizza                               Pizza Place    349
5909   640  Wednesday                                   Caliente Cab Co.                        Mexican Restaurant    349
5910   850  Wednesday                        The New York Times Building                                  Building    349
5911  1163  Wednesday                                              Sears                          Department Store    349
5912  1164  Wednesday                                    Bank of America                                      Bank    349
5913  1165  Wednesday                             Chipotle Mexican Grill                        Mexican Restaurant    349
5914  1258  Wednesday                                        Porta Bella                          Department Store    349
5915   436   Thursday                                            M.S. 22                                    School    349
5916   436   Thursday                                     Met Foodmarket                               Supermarket    349
5917   436   Thursday  MTA MaBSTOA Bus at East 167th St & Morris Ave:...                               Bus Station    349
5918   437   Thursday                                          Slam Dunk                            Clothing Store    349
5919   467   Thursday                                          Slam Dunk                            Clothing Store    349
5920   468   Thursday                                     Yankee Clipper  Residential Building (Apartment / Condo)    349
5921   468   Thursday                                      The Mothaship                                   Parking    349
5922   533   Thursday                                         McDonald's                      Fast Food Restaurant    349
5923   698   Thursday                            Kashkaval Cheese Market                                  Wine Bar    349
5924   699   Thursday                                          El Centro                        Mexican Restaurant    349
5925   699   Thursday                                     Bocca Di Bacco                        Italian Restaurant    349
5926   765   Thursday                                     Artisans' Gate                                      Park    349
5927   932   Thursday                                   Picasso Pizzeria                               Pizza Place    349
5928   932   Thursday                                     Izzy and Nat's                                Bagel Shop    349
5929   932   Thursday                             Gristedes Supermarkets                               Supermarket    349
5930   932   Thursday                           1 World Financial Center                                    Office    349
5931  1096   Thursday                                               Jane                       American Restaurant    349
5932  1097   Thursday                               Emack & Bolio's SoHo                            Ice Cream Shop    349
5933  1098   Thursday                        Le Souk Restaurant & Lounge                                Hookah Bar    349
5934  1213   Thursday                                   Benny's Burritos                        Mexican Restaurant    349
5935   446     Friday                                            M.S. 22                                    School    349
5936   446     Friday                                      The Mothaship                                   Parking    349
5937   446     Friday                           La Tropical Deli Grocery                             Deli / Bodega    349
5938   447     Friday                                       Gourmet Deli                             Deli / Bodega    349
5939   568     Friday                                     Lincoln Tunnel                                    Tunnel    349
5940   568     Friday                                     Lincoln Tunnel                                    Tunnel    349
5941   569     Friday    Weehawken Waterfront Park and Recreation Center                                      Park    349
5942   679     Friday                              Pershing Square CafÃ©                       American Restaurant    349
5943   679     Friday                                     Cipriani Dolci                        Italian Restaurant    349
5944   715     Friday                                              Amber                          Sushi Restaurant    349
5945   715     Friday                                            Dive 75                                  Dive Bar    349
5946   847     Friday                                            Pio Pio                       Peruvian Restaurant    349
5947   847     Friday                                       BPM New York                                 Nightclub    349
5948  1024     Friday                                   747 Third Avenue                           Coworking Space    349
5949  1024     Friday                             CoCo Fresh Tea & Juice                           Bubble Tea Shop    349
5950  1040     Friday                             Num Pang Sandwich Shop                            Sandwich Place    349
5951  1148     Friday                                           Bar None                                       Bar    349
5952  1148     Friday                                    5 Napkin Burger                              Burger Joint    349
5953   471   Saturday                              Micros Retail Systems                                  Building    349
5954   472   Saturday                                             Micros                                    Office    349
5955   597     Sunday                                            TD Bank                                      Bank    349
5956   597     Sunday                                      La Bella Luna                        Italian Restaurant    349
5957   598     Sunday                              Micros Retail Systems                                  Building    349
5958   598     Sunday                                  Noches Restaurant                 South American Restaurant    349
5959   641     Sunday                                     CafÃ© Sabarsky                       Austrian Restaurant    349
5960   827     Sunday                                            Staples             Paper / Office Supplies Store    349
5961   827     Sunday                                   Urban Outfitters                            Clothing Store    349
5962  1132     Sunday                             Vermilyea Deli Grocery                             Deli / Bodega    349
5963  1141     Sunday                                        Irie Garden                            Home (private)    349
5964  1282     Sunday                                    Taste Of Italia                        Italian Restaurant    349
5978   391    Tuesday                                            M.S. 22                                    School    349
5979   391    Tuesday                                      The Mothaship                                   Parking    349
5980   391    Tuesday                                     Met Foodmarket                               Supermarket    349
5981   392    Tuesday                                          Slam Dunk                            Clothing Store    349
5982  1141   Thursday                                      Gray's Papaya                             Hot Dog Joint    349
5983  1142   Thursday                                       Josie's West                       American Restaurant    349
5984  1142   Thursday                                       Hummus Place                        Israeli Restaurant    349
5985   616   Saturday                                       Think Coffee                               Coffee Shop    349
5986   616   Saturday                                   Strand Bookstore                                 Bookstore    349
5987   616   Saturday                                Dos Toros TaquerÃ­a                        Mexican Restaurant    349
5988   617   Saturday                                         Linen Hall                                       Bar    349
5989   619   Saturday                                         Bodhi Tree                           Thai Restaurant    349
5990   646   Saturday                                 The Village Tavern                                       Bar    349
5991   646   Saturday                                       Ditch Plains                       American Restaurant    349
5992   651   Saturday                                      Mr. Dennehy's                                 Gastropub    349
5993   718   Saturday                                        Olio e PiÃº                        Italian Restaurant    349
5994   732   Saturday                              Astor Wines & Spirits                                 Wine Shop    349

In [54]:
g1 = [1,2,3,5,6,7,9,13,14,18,19,25,27,29,30,31,32,34,36,39,41,123,124,126,135,136,144,154,190,218,320,321,325,328,
         331,334,335,338,340,345,348]
g2 = [55,56,57,60,61,63,66,69,70,71,72,73,74,76,77,79,80,81]
g3 = [1,2,3,5,6,8,9,10,12,13,14,15,16,18,19,22,25,27,30,32,33,34,35,36,37,39,40,41,123,124,129,130,140,144,145,147,150,151,163,167,256,263,264,265,266,267,268,269,270,273,274,275,276,277,278,279,280,281]
g4 = [84,88,89,90,91,93,96,98,102,104,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120]
g5 = [157,158,159,162,163,164,169,170,172,173,176]
g6 = [43,44,45,46,48,49,50,51,52,53,55,56,57,58,60,61,62,63,70,73]
g7= [1,2,3,5,6,7,9,12,13,14,17,18,19,25,27,29,30,31,32,33,36,39,123,126,217,319,325,327,328,330,332,341,344,345,346]
g8 = [124,135,155,293,294,295,296,297,298,299,300,301,302,303,304,305,308,309,310,311,312,313,315,316,317]
g9 = [30,54,62,70,73,79,80,123,135,143,144,147,158,189]
g10 = [124,136,138,147,151,152]
df_summary[df_summary['Tid'].isin(g9)]['User'].value_counts()

293    6
349    5
354    2
185    1
Name: User, dtype: int64

In [12]:
print('Number of trajectories: ',df_fs_top['new_tid'].nunique())
print('Number of unique POIs: ',df_fs_top['poi'].nunique())
print('Number of unique POIs type: ',df_fs_top['type'].nunique())
print('Number of unique POIs root_type: ',df_fs_top['root_type'].nunique())
basic_stats(df_fs_top)
df_main_info(df_fs_top)

Number of trajectories:  352
Number of unique POIs:  1741
Number of unique POIs type:  310
Number of unique POIs root_type:  10

Basics:
Number of users:  10
Number of trajectories:  352
AVG number of trajectories per user is 35.20 with STD of 4.44
AVG trajectory length per user is 32.23 with STD of 15.46

More stats:
Number of users:  10
Number of trajectories:  352

Check-ins:
Min number of check-ins in an user:  568
Max number of check-ins in an user:  1952
Number of average check-ins per user 1171.500 with std of 598.203.
Number of unique POIs in the dataset:  310

Trajectories:
Min number of trajectories in an user:  30
Max number of trajectories in an user:  42
Number of average trajectories per user 35.200 with std of 4.442.

### Create sequence file format

In [9]:
# file = "data/real_application/foursquare_NY/preprocessed/fs_ny_top_10_week_sequences.dat"
# create_sequence_file_data(df_fs_top,file)

In [16]:
file = "data/real_application/foursquare_NY/preprocessed/fs_ny_top_10_fimi.dat"
create_file_fimi(df_fs_top,file)

Processando DataFrame: 100%|██████████████████████████████████████████████████| 11715/11715 [00:00<00:00, 36350.01it/s]

Number of sequences:  352
Process completed!

({'Strip_Club': 0,
  'American_Restaurant': 1,
  'Pool': 2,
  'Other_Nightlife': 3,
  'Speakeasy': 4,
  'Music_Venue': 5,
  'Park': 6,
  'Bus_Line': 7,
  'Hotel': 8,
  'Bank': 9,
  'Post_Office': 10,
  'Elementary_School': 11,
  'Coffee_Shop': 12,
  'Cuban_Restaurant': 13,
  'Restaurant': 14,
  'Donut_Shop': 15,
  'Pizza_Place': 16,
  'High_School': 17,
  'Home_(private)': 18,
  'Building': 19,
  "Doctor's_Office": 20,
  'Office': 21,
  'Gas_Station': 22,
  'Seafood_Restaurant': 23,
  'Italian_Restaurant': 24,
  'Government_Building': 25,
  'Mexican_Restaurant': 26,
  'Sports_Bar': 27,
  'Meeting_Room': 28,
  'Church': 29,
  'Museum': 30,
  'Airport_Terminal': 31,
  'Automotive_Shop': 32,
  'Gift_Shop': 33,
  'Pharmacy': 34,
  'Cafe': 35,
  'Beach': 36,
  'Library': 37,
  'Hardware_Store': 38,
  'Airport_Tram': 39,
  'Burger_Joint': 40,
  'Farm': 41,
  'Airport_Gate': 42,
  'Residential_Building_(Apartment_/_Condo)': 43,
  'Fast_Food_Restaurant': 44,
  'Arts_&_Crafts_Store': 45,
  'Salon_/_Barbershop': 46,
  'Lounge': 47,
  'Ice_Cream_Shop': 48,
  'Gymnastics_Gym': 49,
  'Breakfast_Spot': 50,
  'Cocktail_Bar': 51,
  'General_Entertainment': 52,
  'Animal_Shelter': 53,
  'Music_Store': 54,
  'Sushi_Restaurant': 55,
  'Gym': 56,
  'German_Restaurant': 57,
  'Hookah_Bar': 58,
  'Bridge': 59,
  'Steakhouse': 60,
  'Bus_Stop': 61,
  'Clothing_Store': 62,
  'Golf_Course': 63,
  'Nightclub': 64,
  'Furniture_/_Home_Store': 65,
  'Other_Repair_Shop': 66,
  'Gym_/_Fitness_Center': 67,
  'Cosmetics_Shop': 68,
  'Medical_Center': 69,
  'Gourmet_Shop': 70,
  'Convenience_Store': 71,
  'Caribbean_Restaurant': 72,
  "Dentist's_Office": 73,
  'Supermarket': 74,
  'Smoke_Shop': 75,
  'Metro_Station': 76,
  'Gay_Bar': 77,
  'Electronics_Store': 78,
  'Paper_/_Office_Supplies_Store': 79,
  'Bus_Station': 80,
  'Radio_Station': 81,
  'Deli_/_Bodega': 82,
  'Miscellaneous_Shop': 83,
  'Southern_/_Soul_Food_Restaurant': 84,
  'Discount_Store': 85,
  'Grocery_Store': 86,
  'Hockey_Arena': 87,
  'Sandwich_Place': 88,
  'Plaza': 89,
  'Cafeteria': 90,
  'Chinese_Restaurant': 91,
  'Optical_Shop': 92,
  'Bakery': 93,
  'Bagel_Shop': 94,
  'Food_Truck': 95,
  'Laundry_Service': 96,
  'Food_&_Drink_Shop': 97,
  'Train': 98,
  'Diner': 99,
  'Fair': 100,
  'Wine_Bar': 101,
  'Basketball_Court': 102,
  'Mobile_Phone_Shop': 103,
  'Cemetery': 104,
  'Voting_Booth': 105,
  'Funeral_Home': 106,
  'Storage_Facility': 107,
  'Performing_Arts_Venue': 108,
  'Shoe_Store': 109,
  'Camera_Store': 110,
  'Latin_American_Restaurant': 111,
  'Fried_Chicken_Joint': 112,
  'Field': 113,
  'Housing_Development': 114,
  'Financial_or_Legal_Service': 115,
  'Soccer_Stadium': 116,
  'Scenic_Lookout': 117,
  'Art_Gallery': 118,
  'Dive_Bar': 119,
  'Nail_Salon': 120,
  'Movie_Theater': 121,
  'Dog_Run': 122,
  'Racetrack': 123,
  'Baseball_Stadium': 124,
  'Tech_Startup': 125,
  'Market': 126,
  'Dessert_Shop': 127,
  "Women's_Store": 128,
  'Frozen_Yogurt_Shop': 129,
  'Fish_Market': 130,
  'BBQ_Joint': 131,
  'Bar': 132,
  'Department_Store': 133,
  'Garden': 134,
  'Distillery': 135,
  'Wine_Shop': 136,
  'Chiropractor': 137,
  'Board_Shop': 138,
  'Basketball_Stadium': 139,
  'Juice_Bar': 140,
  'French_Restaurant': 141,
  'Concert_Hall': 142,
  'Pub': 143,
  'Sporting_Goods_Shop': 144,
  'Mediterranean_Restaurant': 145,
  'Wings_Joint': 146,
  'Parking': 147,
  'School': 148,
  'Noodle_House': 149,
  'New_American_Restaurant': 150,
  'College_History_Building': 151,
  'Monument_/_Landmark': 152,
  'Beer_Garden': 153,
  'Gastropub': 154,
  'Art_Museum': 155,
  'Shopping_Mall': 156,
  'Falafel_Restaurant': 157,
  'Spa': 158,
  'Tea_Room': 159,
  'Soup_Place': 160,
  'Spanish_Restaurant': 161,
  'Liquor_Store': 162,
  'Car_Wash': 163,
  'Tunnel': 164,
  'Multiplex': 165,
  'College_Academic_Building': 166,
  'Luggage_Store': 167,
  'Japanese_Restaurant': 168,
  'Toll_Plaza': 169,
  'Pier': 170,
  'Big_Box_Store': 171,
  'Salad_Place': 172,
  'Light_Rail_Station': 173,
  'Theater': 174,
  'Rock_Club': 175,
  'Chocolate_Shop': 176,
  'Boutique': 177,
  'Asian_Restaurant': 178,
  'Bookstore': 179,
  'Farmers_Market': 180,
  'Brazilian_Restaurant': 181,
  'Outdoor_Sculpture': 182,
  'Thai_Restaurant': 183,
  'Flea_Market': 184,
  'Resort': 185,
  'Tapas_Restaurant': 186,
  'Karaoke_Bar': 187,
  'Street_Food_Gathering': 188,
  'Hot_Dog_Joint': 189,
  'Comedy_Club': 190,
  'Dance_Studio': 191,
  'Fraternity_House': 192,
  'Playground': 193,
  'Hotel_Bar': 194,
  'Brewery': 195,
  'Peruvian_Restaurant': 196,
  'Coworking_Space': 197,
  'Bubble_Tea_Shop': 198,
  'South_American_Restaurant': 199,
  'Austrian_Restaurant': 200,
  'Lingerie_Store': 201,
  'Israeli_Restaurant': 202,
  'College_Administrative_Building': 203,
  'Yoga_Studio': 204,
  'College_Arts_Building': 205,
  'Pie_Shop': 206,
  'Science_Museum': 207,
  'Historic_Site': 208,
  'Burrito_Place': 209,
  'Airport': 210,
  'Korean_Restaurant': 211,
  'Thrift_/_Vintage_Store': 212,
  'Russian_Restaurant': 213,
  'Roof_Deck': 214,
  'College_Classroom': 215,
  'Event_Space': 216,
  'Cupcake_Shop': 217,
  'College_Bookstore': 218,
  'Pet_Store': 219,
  'Video_Game_Store': 220,
  'Supplement_Shop': 221,
  'Colombian_Restaurant': 222,
  'Festival': 223,
  'Cajun_/_Creole_Restaurant': 224,
  'Kitchen_Supply_Store': 225,
  'Irish_Pub': 226,
  'Jazz_Club': 227,
  'Indie_Movie_Theater': 228,
  'Border_Crossing': 229,
  'Vegetarian_/_Vegan_Restaurant': 230,
  'Candy_Store': 231,
  'Toy_/_Game_Store': 232,
  'Spiritual_Center': 233,
  'Indian_Restaurant': 234,
  'Greek_Restaurant': 235,
  'Food_Court': 236,
  'Belgian_Restaurant': 237,
  'Temple': 238,
  'Business_Service': 239,
  'City_Hall': 240,
  'IT_Services': 241,
  'Corporate_Cafeteria': 242,
  'University': 243,
  'Czech_Restaurant': 244,
  'English_Restaurant': 245,
  'Taco_Place': 246,
  'Memorial_Site': 247,
  'Synagogue': 248,
  'Indie_Theater': 249,
  'Rest_Area': 250,
  'Platform': 251,
  'Aquarium': 252,
  'Theme_Park': 253,
  'Auto_Dealership': 254,
  'Theme_Park_Ride_/_Attraction': 255,
  'Public_Art': 256,
  'Campground': 257,
  'Newsstand': 258,
  'Casino': 259,
  'Check_Cashing_Service': 260,
  'Shop_&_Service': 261,
  "Men's_Store": 262,
  'Skating_Rink': 263,
  'Bowling_Alley': 264,
  'Cheese_Shop': 265,
  'Butcher': 266,
  'Airport_Lounge': 267,
  'Turkish_Restaurant': 268,
  'Snack_Place': 269,
  'Dumpling_Restaurant': 270,
  'Australian_Restaurant': 271,
  'Vietnamese_Restaurant': 272,
  'Shanghai_Restaurant': 273,
  'Advertising_Agency': 274,
  'Outdoors_&_Recreation': 275,
  'Sake_Bar': 276,
  'Eastern_European_Restaurant': 277,
  'Portuguese_Restaurant': 278,
  'Filipino_Restaurant': 279,
  'Street_Fair': 280,
  'Middle_Eastern_Restaurant': 281,
  'Pakistani_Restaurant': 282,
  'Beer_Store': 283,
  'Empanada_Restaurant': 284,
  'Scandinavian_Restaurant': 285,
  'Christmas_Market': 286,
  'Trade_School': 287,
  'Cable_Car': 288,
  'Swiss_Restaurant': 289,
  'Assisted_Living': 290,
  'Whisky_Bar': 291,
  'Football_Stadium': 292,
  'Ramen_Restaurant': 293,
  'Track': 294,
  'Convention_Center': 295,
  'College_Technology_Building': 296,
  'Baseball_Field': 297,
  'Island': 298,
  'Fire_Station': 299,
  'Bike_Shop': 300,
  'Arcade': 301,
  'Credit_Union': 302,
  'Harbor_/_Marina': 303,
  'Courthouse': 304,
  'Waterfront': 305,
  'Trail': 306,
  'Music_School': 307,
  'Warehouse_Store': 308,
  'Hotpot_Restaurant': 309},
 {0: 'Strip_Club',
  1: 'American_Restaurant',
  2: 'Pool',
  3: 'Other_Nightlife',
  4: 'Speakeasy',
  5: 'Music_Venue',
  6: 'Park',
  7: 'Bus_Line',
  8: 'Hotel',
  9: 'Bank',
  10: 'Post_Office',
  11: 'Elementary_School',
  12: 'Coffee_Shop',
  13: 'Cuban_Restaurant',
  14: 'Restaurant',
  15: 'Donut_Shop',
  16: 'Pizza_Place',
  17: 'High_School',
  18: 'Home_(private)',
  19: 'Building',
  20: "Doctor's_Office",
  21: 'Office',
  22: 'Gas_Station',
  23: 'Seafood_Restaurant',
  24: 'Italian_Restaurant',
  25: 'Government_Building',
  26: 'Mexican_Restaurant',
  27: 'Sports_Bar',
  28: 'Meeting_Room',
  29: 'Church',
  30: 'Museum',
  31: 'Airport_Terminal',
  32: 'Automotive_Shop',
  33: 'Gift_Shop',
  34: 'Pharmacy',
  35: 'Cafe',
  36: 'Beach',
  37: 'Library',
  38: 'Hardware_Store',
  39: 'Airport_Tram',
  40: 'Burger_Joint',
  41: 'Farm',
  42: 'Airport_Gate',
  43: 'Residential_Building_(Apartment_/_Condo)',
  44: 'Fast_Food_Restaurant',
  45: 'Arts_&_Crafts_Store',
  46: 'Salon_/_Barbershop',
  47: 'Lounge',
  48: 'Ice_Cream_Shop',
  49: 'Gymnastics_Gym',
  50: 'Breakfast_Spot',
  51: 'Cocktail_Bar',
  52: 'General_Entertainment',
  53: 'Animal_Shelter',
  54: 'Music_Store',
  55: 'Sushi_Restaurant',
  56: 'Gym',
  57: 'German_Restaurant',
  58: 'Hookah_Bar',
  59: 'Bridge',
  60: 'Steakhouse',
  61: 'Bus_Stop',
  62: 'Clothing_Store',
  63: 'Golf_Course',
  64: 'Nightclub',
  65: 'Furniture_/_Home_Store',
  66: 'Other_Repair_Shop',
  67: 'Gym_/_Fitness_Center',
  68: 'Cosmetics_Shop',
  69: 'Medical_Center',
  70: 'Gourmet_Shop',
  71: 'Convenience_Store',
  72: 'Caribbean_Restaurant',
  73: "Dentist's_Office",
  74: 'Supermarket',
  75: 'Smoke_Shop',
  76: 'Metro_Station',
  77: 'Gay_Bar',
  78: 'Electronics_Store',
  79: 'Paper_/_Office_Supplies_Store',
  80: 'Bus_Station',
  81: 'Radio_Station',
  82: 'Deli_/_Bodega',
  83: 'Miscellaneous_Shop',
  84: 'Southern_/_Soul_Food_Restaurant',
  85: 'Discount_Store',
  86: 'Grocery_Store',
  87: 'Hockey_Arena',
  88: 'Sandwich_Place',
  89: 'Plaza',
  90: 'Cafeteria',
  91: 'Chinese_Restaurant',
  92: 'Optical_Shop',
  93: 'Bakery',
  94: 'Bagel_Shop',
  95: 'Food_Truck',
  96: 'Laundry_Service',
  97: 'Food_&_Drink_Shop',
  98: 'Train',
  99: 'Diner',
  100: 'Fair',
  101: 'Wine_Bar',
  102: 'Basketball_Court',
  103: 'Mobile_Phone_Shop',
  104: 'Cemetery',
  105: 'Voting_Booth',
  106: 'Funeral_Home',
  107: 'Storage_Facility',
  108: 'Performing_Arts_Venue',
  109: 'Shoe_Store',
  110: 'Camera_Store',
  111: 'Latin_American_Restaurant',
  112: 'Fried_Chicken_Joint',
  113: 'Field',
  114: 'Housing_Development',
  115: 'Financial_or_Legal_Service',
  116: 'Soccer_Stadium',
  117: 'Scenic_Lookout',
  118: 'Art_Gallery',
  119: 'Dive_Bar',
  120: 'Nail_Salon',
  121: 'Movie_Theater',
  122: 'Dog_Run',
  123: 'Racetrack',
  124: 'Baseball_Stadium',
  125: 'Tech_Startup',
  126: 'Market',
  127: 'Dessert_Shop',
  128: "Women's_Store",
  129: 'Frozen_Yogurt_Shop',
  130: 'Fish_Market',
  131: 'BBQ_Joint',
  132: 'Bar',
  133: 'Department_Store',
  134: 'Garden',
  135: 'Distillery',
  136: 'Wine_Shop',
  137: 'Chiropractor',
  138: 'Board_Shop',
  139: 'Basketball_Stadium',
  140: 'Juice_Bar',
  141: 'French_Restaurant',
  142: 'Concert_Hall',
  143: 'Pub',
  144: 'Sporting_Goods_Shop',
  145: 'Mediterranean_Restaurant',
  146: 'Wings_Joint',
  147: 'Parking',
  148: 'School',
  149: 'Noodle_House',
  150: 'New_American_Restaurant',
  151: 'College_History_Building',
  152: 'Monument_/_Landmark',
  153: 'Beer_Garden',
  154: 'Gastropub',
  155: 'Art_Museum',
  156: 'Shopping_Mall',
  157: 'Falafel_Restaurant',
  158: 'Spa',
  159: 'Tea_Room',
  160: 'Soup_Place',
  161: 'Spanish_Restaurant',
  162: 'Liquor_Store',
  163: 'Car_Wash',
  164: 'Tunnel',
  165: 'Multiplex',
  166: 'College_Academic_Building',
  167: 'Luggage_Store',
  168: 'Japanese_Restaurant',
  169: 'Toll_Plaza',
  170: 'Pier',
  171: 'Big_Box_Store',
  172: 'Salad_Place',
  173: 'Light_Rail_Station',
  174: 'Theater',
  175: 'Rock_Club',
  176: 'Chocolate_Shop',
  177: 'Boutique',
  178: 'Asian_Restaurant',
  179: 'Bookstore',
  180: 'Farmers_Market',
  181: 'Brazilian_Restaurant',
  182: 'Outdoor_Sculpture',
  183: 'Thai_Restaurant',
  184: 'Flea_Market',
  185: 'Resort',
  186: 'Tapas_Restaurant',
  187: 'Karaoke_Bar',
  188: 'Street_Food_Gathering',
  189: 'Hot_Dog_Joint',
  190: 'Comedy_Club',
  191: 'Dance_Studio',
  192: 'Fraternity_House',
  193: 'Playground',
  194: 'Hotel_Bar',
  195: 'Brewery',
  196: 'Peruvian_Restaurant',
  197: 'Coworking_Space',
  198: 'Bubble_Tea_Shop',
  199: 'South_American_Restaurant',
  200: 'Austrian_Restaurant',
  201: 'Lingerie_Store',
  202: 'Israeli_Restaurant',
  203: 'College_Administrative_Building',
  204: 'Yoga_Studio',
  205: 'College_Arts_Building',
  206: 'Pie_Shop',
  207: 'Science_Museum',
  208: 'Historic_Site',
  209: 'Burrito_Place',
  210: 'Airport',
  211: 'Korean_Restaurant',
  212: 'Thrift_/_Vintage_Store',
  213: 'Russian_Restaurant',
  214: 'Roof_Deck',
  215: 'College_Classroom',
  216: 'Event_Space',
  217: 'Cupcake_Shop',
  218: 'College_Bookstore',
  219: 'Pet_Store',
  220: 'Video_Game_Store',
  221: 'Supplement_Shop',
  222: 'Colombian_Restaurant',
  223: 'Festival',
  224: 'Cajun_/_Creole_Restaurant',
  225: 'Kitchen_Supply_Store',
  226: 'Irish_Pub',
  227: 'Jazz_Club',
  228: 'Indie_Movie_Theater',
  229: 'Border_Crossing',
  230: 'Vegetarian_/_Vegan_Restaurant',
  231: 'Candy_Store',
  232: 'Toy_/_Game_Store',
  233: 'Spiritual_Center',
  234: 'Indian_Restaurant',
  235: 'Greek_Restaurant',
  236: 'Food_Court',
  237: 'Belgian_Restaurant',
  238: 'Temple',
  239: 'Business_Service',
  240: 'City_Hall',
  241: 'IT_Services',
  242: 'Corporate_Cafeteria',
  243: 'University',
  244: 'Czech_Restaurant',
  245: 'English_Restaurant',
  246: 'Taco_Place',
  247: 'Memorial_Site',
  248: 'Synagogue',
  249: 'Indie_Theater',
  250: 'Rest_Area',
  251: 'Platform',
  252: 'Aquarium',
  253: 'Theme_Park',
  254: 'Auto_Dealership',
  255: 'Theme_Park_Ride_/_Attraction',
  256: 'Public_Art',
  257: 'Campground',
  258: 'Newsstand',
  259: 'Casino',
  260: 'Check_Cashing_Service',
  261: 'Shop_&_Service',
  262: "Men's_Store",
  263: 'Skating_Rink',
  264: 'Bowling_Alley',
  265: 'Cheese_Shop',
  266: 'Butcher',
  267: 'Airport_Lounge',
  268: 'Turkish_Restaurant',
  269: 'Snack_Place',
  270: 'Dumpling_Restaurant',
  271: 'Australian_Restaurant',
  272: 'Vietnamese_Restaurant',
  273: 'Shanghai_Restaurant',
  274: 'Advertising_Agency',
  275: 'Outdoors_&_Recreation',
  276: 'Sake_Bar',
  277: 'Eastern_European_Restaurant',
  278: 'Portuguese_Restaurant',
  279: 'Filipino_Restaurant',
  280: 'Street_Fair',
  281: 'Middle_Eastern_Restaurant',
  282: 'Pakistani_Restaurant',
  283: 'Beer_Store',
  284: 'Empanada_Restaurant',
  285: 'Scandinavian_Restaurant',
  286: 'Christmas_Market',
  287: 'Trade_School',
  288: 'Cable_Car',
  289: 'Swiss_Restaurant',
  290: 'Assisted_Living',
  291: 'Whisky_Bar',
  292: 'Football_Stadium',
  293: 'Ramen_Restaurant',
  294: 'Track',
  295: 'Convention_Center',
  296: 'College_Technology_Building',
  297: 'Baseball_Field',
  298: 'Island',
  299: 'Fire_Station',
  300: 'Bike_Shop',
  301: 'Arcade',
  302: 'Credit_Union',
  303: 'Harbor_/_Marina',
  304: 'Courthouse',
  305: 'Waterfront',
  306: 'Trail',
  307: 'Music_School',
  308: 'Warehouse_Store',
  309: 'Hotpot_Restaurant'})

In [344]:
e = [10,14,18,15,17,15,13,15,12,16]
f = [110,120,125,115,130,115,120,115,125,120]
print(np.mean(e),np.std(e),np.var(e))
print(np.mean(f),np.std(f),np.var(f))

14.5 2.247220505424423 5.05
119.5 5.678908345800274 32.25

## FS to 81 users

In [56]:
df_fs_81 = pd.read_csv('data/real_application/foursquare_NY/fs_ny_top_users_81.csv', sep=";")
print(df_fs_81['label'].nunique())
df_fs_81.head()

81

,new_tid,tid,lat_lon,time,day,poi,type,root_type,rating,weather,label
0,0,329,40.7421883084845 -73.9879241890915,1135,Tuesday,Madison Square Park,Park,Outdoors & Recreation,9.6,Clear,14
1,0,329,40.7421883084845 -73.9879241890915,421,Wednesday,Madison Square Park,Park,Outdoors & Recreation,9.6,Clouds,14
2,0,329,40.7416730481413 -73.9742878438115,588,Wednesday,NYU Langone Medical Center,Hospital,Professional & Other Places,-1.0,Clear,14
3,0,329,40.7421883084845 -73.9879241890915,949,Wednesday,Madison Square Park,Park,Outdoors & Recreation,9.6,Clear,14
4,0,329,40.7421883084845 -73.9879241890915,428,Thursday,Madison Square Park,Park,Outdoors & Recreation,9.6,Clear,14

In [52]:
# df_summary = create_df_map_traj_user(df_fs_81)

In [57]:
# print(df_summary.head())
# print(df_summary['User'].nunique())
# tmp = df_summary['User'].value_counts().to_dict()
# x = list(tmp.keys())
# y = list(tmp.values())
# top_81 = x[:81]

In [58]:
# df_fs_81 = df_fs_81[df_fs_81['label'].isin(top_81)]
# df_fs_81.reset_index(inplace=True,drop=True)
# # print(df_fs_81['label'].nunique())
# print(df_fs_81.head())

In [59]:
print('Number of trajectories: ',df_fs_81['new_tid'].nunique())
print('Number of unique POIs: ',df_fs_81['poi'].nunique())
print('Number of unique POIs type: ',df_fs_81['type'].nunique())
print('Number of unique POIs root_type: ',df_fs_81['root_type'].nunique())
basic_stats(df_fs_81)
df_main_info(df_fs_81)

Number of trajectories:  1749
Number of unique POIs:  6324
Number of unique POIs type:  437
Number of unique POIs root_type:  10

Basics:
Number of users:  81
Number of trajectories:  1749
AVG number of trajectories per user is 21.59 with STD of 6.09
AVG trajectory length per user is 22.81 with STD of 9.66

More stats:
Number of users:  81
Number of trajectories:  1749

Check-ins:
Min number of check-ins in an user:  202
Max number of check-ins in an user:  1952
Number of average check-ins per user 515.901 with std of 365.313.
Number of unique POIs in the dataset:  437

Trajectories:
Min number of trajectories in an user:  16
Max number of trajectories in an user:  42
Number of average trajectories per user 21.593 with std of 6.088.

In [35]:
file = "data/real_application/foursquare_NY/preprocessed/fs_ny_top_81_week_sequences.dat"
create_sequence_file_data(df_fs_81,file)

Processando DataFrame: 100%|██████████████████████████████████████████████████| 41788/41788 [00:00<00:00, 51099.55it/s]

Number of sequences:  1750
Process completed!

## FS NY 193

In [60]:
df_fs_193 = pd.read_csv('data/real_application/foursquare_NY/fs_ny_top_users_193.csv', sep=";")
print(df_fs_193['label'].nunique())
df_fs_193.head()

193

,new_tid,tid,lat_lon,time,day,poi,type,root_type,rating,weather,label
0,0,126,40.8331652006224 -73.9418603427692,317,Monday,The Lair Of Modern Strange Cowboy,Home (private),Residence,-1.0,Clear,6
1,0,126,40.8340978041072 -73.9452672225881,1404,Monday,Galaxy Gourmet Deli,Deli / Bodega,Food,8.2,Clouds,6
2,0,126,40.8331652006224 -73.9418603427692,0,Tuesday,The Lair Of Modern Strange Cowboy,Home (private),Residence,-1.0,Clouds,6
3,0,126,40.7646959283254 -73.8851974964414,1069,Thursday,Popeyes Louisiana Kitchen,Fried Chicken Joint,Food,6.6,Clear,6
4,0,126,40.7660790376824 -73.8835287094116,1120,Thursday,MTA Bus Operations Depot - LaGuardia,Bus Station,Travel & Transport,-1.0,Clear,6

In [ ]:
df_summary = create_df_map_traj_user(df_fs_193)

In [61]:
print('Number of trajectories: ',df_fs_193['new_tid'].nunique())
print('Number of unique POIs: ',df_fs_193['poi'].nunique())
print('Number of unique POIs type: ',df_fs_193['type'].nunique())
print('Number of unique POIs root_type: ',df_fs_193['root_type'].nunique())
basic_stats(df_fs_193)
df_main_info(df_fs_193)

Number of trajectories:  3079
Number of unique POIs:  10808
Number of unique POIs type:  491
Number of unique POIs root_type:  10

Basics:
Number of users:  193
Number of trajectories:  3079
AVG number of trajectories per user is 15.95 with STD of 6.33
AVG trajectory length per user is 20.52 with STD of 8.06

More stats:
Number of users:  193
Number of trajectories:  3079

Check-ins:
Min number of check-ins in an user:  127
Max number of check-ins in an user:  1952
Number of average check-ins per user 346.870 with std of 284.283.
Number of unique POIs in the dataset:  491

Trajectories:
Min number of trajectories in an user:  10
Max number of trajectories in an user:  42
Number of average trajectories per user 15.953 with std of 6.334.

In [46]:
file = "data/real_application/foursquare_NY/preprocessed/fs_ny_top_193_week_sequences.dat"
create_sequence_file_data(df_fs_193,file)

Processando DataFrame: 100%|██████████████████████████████████████████████████| 66946/66946 [00:01<00:00, 48244.92it/s]

Number of sequences:  3079
Process completed!

# tests

In [260]:
new_df_fs_yw = df_foursquare_yw.drop(columns=['checkin_id','venue_id','tid','lat_lon','split_year_week','time','rating',
                                             'price','day','weather','poi','root_type'])
print(new_df_fs_yw.head())
a = new_df_fs_yw.groupby(['label','new_tid'])
print(a.first())
# print(a.nunique()[0:20])
# print(a.nunique()[0:20].groupby('label').sum())
print(a.nunique())
# print(a.get_group(1)['new_tid'].nunique)
b = new_df_fs_yw.groupby(['label'])
b.nunique()

   new_tid                     type  label
0        0       Seafood Restaurant      1
1        0  New American Restaurant      1
2        0    General Entertainment      1
3        0      American Restaurant      1
4        1      American Restaurant      1
                               type
label new_tid
1     0          Seafood Restaurant
      1         American Restaurant
      2              Sandwich Place
      3                 Coffee Shop
      4                   Gift Shop
...                             ...
1083  30504                  Office
      30505                 Gay Bar
      30506                Bus Line
      30507    Gym / Fitness Center
      30508                  Office

[30511 rows x 1 columns]
               type
label new_tid
1     0           4
      1          12
      2          13
      3           3
      4           3
...             ...
1083  30504       1
      30505       4
      30506       6
      30507       2
      30508       1

[30511 rows x 1 columns]

       new_tid  type  label
label
1           18    46      1
2           24    63      1
3           27    55      1
4           39    49      1
5           19    25      1
...        ...   ...    ...
1079        21    34      1
1080        19    45      1
1081        10    29      1
1082        10    25      1
1083        40    63      1

[1083 rows x 3 columns]

# support methods

In [6]:
def create_sequence_file_data(df,pfile):
    sequence = []
    past_tid = None
    curr_tid = None
    num_of_seqs = 0
#     f = open("data/real_application/foursquare_NY/fs_ny_week_sequences.dat", "w")
    f = open(pfile, "w")
    
    for i in tqdm(range(int(len(df))), colour='blue', desc='Processando DataFrame'):
        curr_tid = df.loc[i,"new_tid"]
        index = df.index[df.loc[i,"new_tid"]]
        
        if index == 0:
            sequence.append(str(df.loc[i,"type"].replace(' ','_')))
            past_tid = curr_tid
        elif curr_tid == past_tid:
            sequence.append(str(df.loc[i,"type"].replace(' ','_')))
        elif curr_tid != past_tid:
            tmp = ' '.join(sequence)
            tmp += '\n'
            f.write(tmp)
            num_of_seqs += 1
            sequence = []
            sequence.append(str(df.loc[i,"type"].replace(' ','_')))
            past_tid = curr_tid
        
        if i == (len(df)-1):
            tmp = ' '.join(sequence)
            f.write(tmp)
            num_of_seqs += 1
            
    f.close()
    
#     for index, row in df.iterrows():
#         curr_tid = row["new_tid"]
            
#         if index == 0:
#             sequence.append(str(row["type"].replace(' ','_')))
#             past_tid = curr_tid
#         elif curr_tid == past_tid:
#             sequence.append(str(row["type"].replace(' ','_')))
#         elif curr_tid != past_tid:
#             tmp = ' '.join(sequence)
#             tmp += '\n'
#             f.write(tmp)
#             sequence = []
#             sequence.append(str(row["type"].replace(' ','_')))
#             past_tid = curr_tid
            
#     f.close()
    print('Number of sequences: ',num_of_seqs)
    print("Process completed!")

In [15]:
def create_file_fimi(df,pfile):
    sequence = []
    past_tid = None
    curr_tid = None
    num_of_seqs = 0
    att_list = []
    att_to_id_mapping = {}
    id_to_att_mapping = {}
    id_count = 0
#     f = open("data/real_application/foursquare_NY/fs_ny_week_sequences.dat", "w")
    f = open(pfile, "w")
    
    for i in tqdm(range(int(len(df))), colour='blue', desc='Processando DataFrame'):
        curr_tid = df.loc[i,"new_tid"]
        index = df.index[df.loc[i,"new_tid"]]
        
        att = str(df.loc[i,"type"].replace(' ','_'))
        if att not in att_list:
            att_list.append(att)
            att_to_id_mapping[att] = id_count
            id_to_att_mapping[id_count] = att
            id_count += 1
            
        if index == 0:
            sequence.append(str(att_to_id_mapping[att]))
            past_tid = curr_tid
        elif curr_tid == past_tid:
            sequence.append(str(att_to_id_mapping[att]))
        elif curr_tid != past_tid:
            tmp = ' '.join(sequence)
            tmp += '\n'
            f.write(tmp)
            num_of_seqs += 1
            sequence = []
            sequence.append(str(att_to_id_mapping[att]))
            past_tid = curr_tid
        
        if i == (len(df)-1):
            tmp = ' '.join(sequence)
            f.write(tmp)
            num_of_seqs += 1
            
    f.close()
    
#     for index, row in df.iterrows():
#         curr_tid = row["new_tid"]
            
#         if index == 0:
#             sequence.append(str(row["type"].replace(' ','_')))
#             past_tid = curr_tid
#         elif curr_tid == past_tid:
#             sequence.append(str(row["type"].replace(' ','_')))
#         elif curr_tid != past_tid:
#             tmp = ' '.join(sequence)
#             tmp += '\n'
#             f.write(tmp)
#             sequence = []
#             sequence.append(str(row["type"].replace(' ','_')))
#             past_tid = curr_tid
            
#     f.close()
    print('Number of sequences: ',num_of_seqs)
    print("Process completed!")
    return att_to_id_mapping, id_to_att_mapping

In [114]:
# basic_stats(df_fs_top)

In [5]:
def basic_stats(df):
    print('\nBasics:')
    num_of_users = df['label'].nunique()
    num_of_trajs = df['new_tid'].nunique()
    avg_trajs_per_user = df.groupby(['label']).nunique()['new_tid'].mean()
    std_trajs_per_user = df.groupby(['label']).nunique()['new_tid'].std()
    tmp = df.groupby(['label','new_tid'])
    avg_traj_len_per_user = tmp.count()['type'].groupby('label').mean().mean()
    std_traj_len_per_user = tmp.count()['type'].groupby('label').std().mean()
    
    
    print('Number of users: ',num_of_users)
    print('Number of trajectories: ',num_of_trajs)
    print('AVG number of trajectories per user is {:.2f} with STD of {:.2f}'.format(avg_trajs_per_user,std_trajs_per_user))
    print('AVG trajectory length per user is {:.2f} with STD of {:.2f}'.format(avg_traj_len_per_user,std_traj_len_per_user))

In [4]:
def df_main_info(df):
    print('\nMore stats:')
    print('Number of users: ',df['label'].nunique())
    print('Number of trajectories: ',df['new_tid'].nunique())
    
    print('\nCheck-ins:')
    # print(df_foursquare.groupby('label')['new_tid'].count())
    print('Min number of check-ins in an user: ',df.groupby('label')['new_tid'].count().min())
    print('Max number of check-ins in an user: ',df.groupby('label')['new_tid'].count().max())
    print('Number of average check-ins per user {:.3f} with std of {:.3f}.'.format(df.groupby('label')['new_tid'].count().mean(),
                                                                                   df.groupby('label')['new_tid'].count().std()))
    print('Number of unique POIs in the dataset: ',df['type'].nunique())

    print('\nTrajectories:')
    # print(df_foursquare.groupby('label')['new_tid'].nunique())
    print('Min number of trajectories in an user: ',df.groupby('label')['new_tid'].nunique().min())
    print('Max number of trajectories in an user: ',df.groupby('label')['new_tid'].nunique().max())
    print('Number of average trajectories per user {:.3f} with std of {:.3f}.'.format(df.groupby('label')['new_tid'].nunique().mean(),
                                                                                   df.groupby('label')['new_tid'].nunique().std()))

    # df_foursquare
    # print(df_foursquare[df_foursquare['label'==1]])
    # df_foursquare

In [2]:
# def create_df_map_traj_user(df):
def create_df_map_traj_user(df=pd.DataFrame):
    '''
    Method to support the calculation of the quality result.
    It returns a dataframe with the users and their trajectories with its respective length.
    '''
    try:
        #     df = pd.read_csv('data/real_application/foursquare_NY/fs_ny_top_users_10.csv', sep=";")
        df_map_traj_user = pd.DataFrame(columns=['Tid','Traj_length','User'])
        tids = []
        user = ''
        traj_length = 0

        sequence = []
        past_tid = None
        curr_tid = None
        num_of_seqs = 0
        map_element_id = 0
        unique_elements = {}
        map_id_to_element = {}

        for i in range(len(df)):
            curr_tid = df.loc[i,"new_tid"]
            if curr_tid not in tids:
                tids.append(int(curr_tid))
                user = int(df.loc[i,"label"])
                traj_length = len(df[df['new_tid'] == curr_tid])
                # append rows to an empty DataFrame
                df_map_traj_user = df_map_traj_user.append({'Tid' : curr_tid, 'Traj_length' : traj_length, 'User' : user},ignore_index = True)
        df_map_traj_user['Tid'] = df_map_traj_user['Tid'].astype(int, errors='ignore')
        df_map_traj_user['Traj_length'] = df_map_traj_user['Traj_length'].astype(int, errors='ignore')
        df_map_traj_user['User'] = df_map_traj_user['User'].astype(int, errors='ignore')

    #     print(df_map_traj_user.shape)
    #     print(df_map_traj_user.head())
    #     print('Todo DataFrame (traj_length):',' mean=',df_map_traj_user['Traj_length'].mean(),
    #           ' std=',df_map_traj_user['Traj_length'].std())
    #     u_185 = df_map_traj_user[df_map_traj_user['User']==185]
    #     print(u_185)
    #     print('User 185:',' mean=',u_185['Traj_length'].mean(),' std=',u_185['Traj_length'].std())
    #     df_map_traj_user.groupby(['label']).nunique()['new_tid'].mean()
        r = (df_map_traj_user.groupby(['User'])['Traj_length']
             .agg([np.count_nonzero,np.mean,np.std])
             .rename(columns={'count_nonzero':'Count_trajs',
                              'mean':'AVG_traj_length',
                              'std':'STD_traj_length'}))
    #     print('Número médio de trajs por usuário = {:.2f} com DP = {:.2f}'.format(r['Count_trajs'].mean(),
    #                                                                        r['Count_trajs'].std()))
    #     print('Tamanho médio das trajs por usuário = {:.2f} com DP médio = {:.2f}'.format(r['AVG_traj_length'].mean(),
    #                                                                        r['STD_traj_length'].mean()))
        return df_map_traj_user
    except:
        raise('Please, check the input data format.')
        return None